.setpOne_title{
    margin-top: 36px;
    font-size:24px;
    color:#000000;
    text-align:center;
    margin-bottom: 18px;
}
.setpOne_content{
    margin: 0 0 0 24%;
    min-width: 1000px;
}
.setpOne_content>div{
    position: relative;
    margin-bottom: 20px;
}
.setpOne_content>div.mb{
    padding-bottom: 10px;
}
.setpOne_content div>div{
    position: relative;
}
.setpOne_content .label{
    display: inline-block;
    vertical-align: middle;
    width: 100px;
}
.setpOne_content .inputPart{
    display: inline-block;
    vertical-align: middle;
}
.setpOne_content .warmPart{
    display: inline-block;
    vertical-align: middle;
}
.setpOne_content .warmPart>*{
    vertical-align: middle;
    font-size:12px;
    color:#ff0000;  
}
.setpOne_content .hintPart{
    vertical-align: middle;
    padding: 15px 0px 0px 104px;
    font-size:12px;
    color:#ff0000;
}
.setpOne_content .inputPart input{
    border:1px solid #eeeeee;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.50);
    height:42px;
    margin-right: 20px;
    padding: 0px 18px;
}
.setpOne_content .inputPart span{
    position: absolute;
    right: 40px;
    top:12px;
    font-size:14px;
    color:#666666;
}
.setpOne_content .inputPart select{
    border:1px solid #eeeeee;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.50);
    height:42px;
    margin-right: 10px;
    padding: 0px 18px;
}
.setpOne_content .inputPart .artboard{
    position: absolute;
    top:2px;
    left: 165px;
}
.setpOne_content .inputPart .mr{
    margin-right: 10px;
}
.setpOne_content .label span{
    font-size:14px;
    color:#bcbcbc;
    margin-left: 14px;
    margin-right: 20px;
    width: 64px;
}
.setpOne_content .label .dot{
    position: absolute;
    left: 0px;
    top:8px;
    border-radius: 50%;
    background-color: red;
    width: 4px;
    height: 4px;
}
#headImg{
    width: 120px;
    height: 120px;
}
#userInput{
    width: 362px;
}
#signInput{
    position: relative;
    width: 564px;
}
#selectAddress{
    width: 167px;
}
#selectAddress::-webkit-input-placeholder { /* WebKit browsers */
    color:#000000;
}
#selectAddress:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#000000;
}

#selectAddress::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#000000;
}
#selectAddress:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#000000;
}
input:disabled{
    background-color:#ffffff;
}
#inputAddress{
    width: 346px;
}
.setpOne_footer{
    margin-top: 60px;
    padding-bottom: 28px;
    text-align: center;
}
.setpOne_footer span{
    cursor:pointer;
    padding: 5px 55px;
    font-size:20px;
}
.setpOne_footer span.next{ 
    border:1px solid #979797;
    background-color:#009d01;
    color:#ffffff;
}
.setpOne_footer span.back{
    margin-left: 30px;
    border:1px solid #979797;
    background-color:#ffffff;
    color:#666666;
}
.setpOne_footer p{
    margin-top: 30px;
    font-size:14px;
    color:#666666;
}